<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="line-height: 100px;">
    <img src="../../assets/images/icon.png" width="80" height="80" alt="">
    <span style="margin: 18px; font-weight: 100">{{nombreApp}}</span> </a> 
    <a style="color:white"  href="#/conductores/terminos-condiciones"> Ver Términos y Condiciones</a>
</nav>
<div class="container">
    <div class="d-flex">
        <h2 class="title-politicas-privacidad">Políticas de Privacidad para nuestros conductores registrados.</h2>
        <img class="navimg"  src="../../assets/images/navegator.png" width="80" height="80" alt="" style="margin:22px">
    </div>
    <hr>

    <div>
        <h2  class="title-politicas-privacidad">INTRODUCCIÓN.</h2>
        <p align="justify">
            Por medio del presente, se te informa que el titular de la Plataforma tecnológica, a la que estás accediendo de manera voluntaria es <strong style="font-weight: 600">{{nombreEmpresa}}</strong>, 
            quien tiene su domicilio en la calle Av. Felipe Angeles. Colonia Adolfo Lopez Mateos. Código Postal 77640. Ciudad de Cozumel Quintana Roo. México.; 
            y que en cumplimiento a lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento, así como los lineamientos internacionales 
            vigentes de los cuales México forma parte, es el RESPONSABLE de la obtención, uso, almacenamiento y protección de los Datos Personales de acuerdo a los principios de: licitud, lealtad y transparencia, 
            que en tu carácter de TITULAR, ingreses para llevar a cabo el registro de tu cuenta y posterior uso de la plataforma denominada <strong>{{nombreApp}}.</strong> 
        </p>

        <h2  class="title-politicas-privacidad">DEFINICIONES.</h2>

        <p align="justify">
            Para el presente AVISO, a continuación se enlistan las siguientes definiciones:
        </p>    
        <ul>
            <li><strong>AVISO:</strong>  El presente Aviso de Privacidad de {{nombreApp}}</li>
            <li><strong>RESPONSABLE:</strong>  {{nombreEmpresa}}, responsable de la obtención, uso, almacenamiento y protección de los Datos Personales</li>
            <li><strong>TITULAR:</strong>  Usuarios y conductores de los datos personales</li>
            <li><strong>DATOS PERSONALES: </strong> Los Datos recopilados señalados en el cuerpo del presente AVISO</li>
            <li><strong>DATOS SENSIBLES:</strong>  Datos que pueden afectar directamente la intimidad del TITULAR</li>
            <li><strong>INFORMACIÓN RECOPILADA:</strong>  Toda la información generada a través de la plataforma de {{nombreApp}}</li>
            <li><strong>LEY:</strong>  Ley Federal de Protección de Datos Personales en Posesión de los Particulares</li>
            <li><strong>REGLAMENTO:</strong>  Reglamento de la Ley Federal de Protección de Datos Personales en Posesión de Particulares</li>
            <li><strong>PLATAFORMA:</strong>  Todos los medios electrónicos referentes al uso en línea de {{nombreApp}}</li>
            <li><strong>DERECHOS ARCO:</strong>  Derechos de Acceso, Rectificación, Cancelación y Oposición</li>
            <li><strong>COOKIES: </strong> Datos obtenidos por sistemas de rastreo de información enviados por un sitio web</li>
        </ul>
      
        <h2  class="title-politicas-privacidad">FINALIDADES.</h2>
        <p align="justify">
                <strong>PRIMERA.- </strong> 
                OBJETO. El presente AVISO, tiene como fin plasmar los lineamientos referentes a la captación, uso, implementación, protección y tratamiento legítimo de los datos personales proporcionados 
                por los usuarios de {{nombreApp}} a través de la PLATAFORMA. De igual manera a lo siguiente:
        </p>
        <ul>
            <li>Realizar un seguimiento de nuestros usuarios y su actividad</li>
            <li>Analizar la actividad en la PLATAFORMA</li>
            <li>Mejorar los servicios de {{nombreApp}}</li>
            <li>Controlar el uso de la PLATAFORMA</li>
            <li>Notificar de los cambios y actualizaciones del presente AVISO</li>
            <li>Prestar asistencia a los TITULARES</li>
            <li>Velar tu derecho al acceso a la información</li>
        </ul>
        <p align="justify">
           <strong>SEGUNDA.- </strong> 
            Se hace de tu conocimiento, que los <strong> DATOS PERSONALES</strong> recabados en el proceso de registro, son los siguientes:
        </p>
        <ul>
            <li>Nombre</li>
            <li>Apellidos</li>
            <li>Teléfono</li>
            <li>Correo Electrónico</li>
            <li>Fecha de Nacimiento</li>
            <li>Género</li>
            <li>Foto</li>
        </ul>
        <p align="justify">
            Se hace de tu conocimiento, que los <strong>DATOS LABORALES</strong>  recabados en el proceso de registro, son los siguientes:
        </p>
        <ul>
            <li>Folio</li>
            <li>Tipo de Conductor (Socio/Ayudante)</li>
            <li>Concesiones que Maneja</li>
        </ul>
        <p align="justify">
             Se hace de tu conocimiento, que los <strong>DATO INFORMATIVO VEHICULAR</strong>  recabados en el proceso de registro, son los siguientes:
        </p>
        <ul>
            <li>Marca</li>
            <li>Modelo</li>
            <li>Año</li>
            <li>Matrícula</li>
            <li>Capacidad de Pax (4 o 8 Personas)</li>
            <li>Rampa</li>
            <li>Vinculación de vehiculo compartido</li>
        </ul>

        <p align="justify">
            Estos DATOS COMPLETOS, son necesarios para tu registro en la PLATAFORMA, acceso de usuarios y conductores, como los movimientos de la misma.
        </p>
        <ul>
            <li><strong>TERCERA.- DATOS SENSIBLES.</strong> Se hace de tu conocimiento que no se señalan, solicitan, recaban ni son sujetos del presente AVISO, todo Dato Sensible en virtud de la LEY y REGLAMENTO en materia.</li>
            <li><strong>CUARTA.- ALCANCE.</strong>  El presente AVISO, aplica a todos los usuarios nacionales, que ingresen sus DATOS PERSONALES que se generen dentro de la PLATAFORMA. Así mismo, el presente AVISO aplica para todas las filiales, subsidiarias de {{nombreApp}} que se encuentren fuera de México.</li>
            <li><strong>QUINTA.- PÁGINAS EXTERNAS.</strong>  El RESPONSABLE no se hace responsable por el contenido de enlaces o páginas externas no operadas por el RESPONSABLE.</li>
            <li><strong>SEXTA.- SEGURIDAD.</strong>  El responsable se obliga en implementar todos los medios necesarios técnicos de seguridad para asegurar la correcta protección y tratamiento de los DATOS PERSONALES del titular.</li>
       
            <li><strong>SEPTIMA.- COBROS</strong> La aplicación no solicita datos de ninguna tarjeta de banco para realizar cobros, ni realiza ninguna transacción bancaria hasta el momento</li>
            <li><strong>OCTAVA.- COMO SE USAN LOS DATOS PERSONALES. </strong> Se te informa que la PLATAFORMA utiliza tus datos personales con los siguientes objetivos: </li>            
                <ul>
                    <li>Mejorar la seguridad de nuestros conductores</li>
                    <li>Ofrecer soporte a nuestros conductores</li>
                    <li>Investigar y desarrollar funciones y servicios</li>
                    <li>Permitir que los usuarios se comuniquen entre ellos</li>
                    <li>Enviar comunicaciones de marketing e informativas a nuestros usuarios</li>
                    <li>Cumplir requisitos legales</li>
                </ul>
                EL RESPONSABLE <strong>no vende ni comparte datos personales de los usuarios</strong>  con terceros para que los utilicen en sus campañas de marketing directo sin el permiso de los usuarios.
            <li><strong>NOVENA.- PRIVACIDAD.</strong> Se hace de tu conocimiento que <strong>NO HACEMOS USO NI MONITOREO DE LA UBICACIÓN GEOGRÁFICA DE NUNGÚN CONDUCTOR MIENTRAS EL ESTATUS DE LA APLIACIÓN SE ENCUENTRE DESCONECTADO</strong>.
                El RESPONSABLE hace de tu conocimiento que la aplicación {{nombreApp}} <strong>NO REALIZA ACTIVIDADES DE ESPIONAJE A TRAVÉS DE CÁMARA, GPS, MICRÓFONO NI NINGÚN SENSOR, NI SOFTWARE QUE PUEDA LLEGAR A TENER EL TELÉFONO </strong> 
                tampoco para recabar información adicional de forma automática.</li>
            

        </ul>
        <h2  class="title-politicas-privacidad">OTRA INFORMACIÓN QUE RECABAMOS AL MOMENTO DE USAR LA APLICACIÓN</h2>
        <ul>
            <li><strong>PLAYER ID.- (ES UN IDENTIFICADOR ÚNICO EN CADA TELÉFONO) </strong> se requiere utilizar con el fin de poder enviar y recibir notificaciones en tiempo real usando APIS de la plataforma ONE SIGNAL</li>
            <li><strong>ESTATUS DE CUENTA (ACTIVADO / DESACTIVADO) </strong> .- se requiere para validar si el conductor se encuentra manejando la unidad y disponible para recibir notificaciones</li>
            <li><strong>AUTORIZADO (ACTIVADO / DESACTIVADO)</strong>  .- se requiere para validar si el conductor ha cumplido con los requerimientos plasmados en el proceso de registro</li>
        </ul>

        <h2  class="title-politicas-privacidad">DERECHOS DE ACCESO, RECTIFICACIÓN, CANCELACIÓN Y OPOSICIÓN.</h2>
      

        <p align="justify">
            El TITULAR que se encuentre en territorio nacional mexicano o en el extranjero, podrá con previa acreditación de identidad, solicitar cualquier dato acerca del uso, almacenamiento, protección y tratamiento de los DATOS PERSONALES vaciados en la PLATAFORMA.
        </p>
        <p align="justify">
            El TITULAR tiene derecho a conocer los DATOS PERSONALES que tiene en su posesión (ACCESO); tiene derecho a solicitar la corrección de la información proporcionado, en caso de que se encuentre desactualizada (RECTIFICACIÓN); tiene derecho a que la información sea eliminada del acervo del RESPONSABLE, (CANCELACIÓN), y por último, el TITULAR tiene derecho a oponerse al uso de los DATOS personales que no se utilicen para los fines señalados en el presente AVISO (OPOSICIÓN).
        </p>
        <h3>Estos derechos se conocen como derechos ARCO, para lo cual, si el TITULAR requiere ejercer uno de ellos, deberá seguir el siguiente procedimiento:</h3>
        <p align="justify">
            El TITULAR, deberá enviar a la dirección de contacto del RESPONSABLE <strong>({{ emailEmpresa }}) </strong> su solicitud por escrito y firmada por el TITULAR, en la cual se plasme el derecho que sea ejercer.
            En todo caso, la respuesta a la solicitud por parte del RESPONSABLE, se emitirá en no menos de 20 días hábiles posteriores a la presentación de la solicitud.
        </p>
        <h2  class="title-politicas-privacidad">CAMBIOS AL AVISO.</h2>
        <p align="justify">
                El presente AVISO, puede ser modificado o actualizado en cualquier momento de conformidad con las necesidades de expansión y crecimiento de la PLATAFORMA, es responsabilidad de usuario verificar de manera periódica el presente AVISO de privacidad.
        </p>
        <p align="justify">
                Si tienes duda sobre el contenido del presente AVISO o nuestra Política, puedes enviar un correo con las dudas plasmadas a la siguiente dirección: <strong>{{ emailEmpresa }}</strong> 
        </p>
        <p align="justify">
                Se te informa que en caso de presentarse algún supuesto en el que consideres que algunos de tus derechos han sido vulnerados o están en riesgo de ser vulnerados por alguna de nuestras actuaciones o respuestas, puedes acudir ante el Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales.
        </p>
        <div    >
            <br>
            <br>
            <p>
            <strong>Última actualización: 8 de Diciembre de 2019</strong> 
            </p>

            <br>
            <p>
            <strong>Atentamente</strong>  
            </p>

            <br>
            <p>
            <strong>{{nombreEmpresa}} </strong>        
            </p>
  </div>
  

    </div>
     
</div>
