agm-map {
    height: 950px;
}

.container-filter {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: auto;
}
select{
  background-color: white;
}
select:focus, input:focus{
  border:solid 1px #b72c29;
}
