<div class="modal-dialog">
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Unidad {{ chofer.concesion }}</h4>
        <button type="button" style="font-size: 60px" class="close" aria-label="Close" (click)="activeModal.close('Close click')" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
        <div style="text-align: center;">
            <img [src]="chofer.img" width="100" />
            <h4 class="card-title m-t-10" style="font-size: 25px">{{ chofer.nombre }} {{ chofer.apellidos }}</h4>
            <h4 class="card-title m-t-10" style="font-size: 25px">{{ chofer.vehiculo }}</h4>
            <!-- <h6 class="card-subtitle">{{ chofer.descripcionUbicacion }}</h6> -->

        </div>
        <div class="mt-3">
            <hr>
        </div>
        <div>
            <!-- <small class="text-muted">Correo electrónico: </small>
            <h6>{{ chofer.correo }}</h6> -->
            <small style="font-size: 20px">Teléfono: {{ chofer.telefono}} </small><br>
            <small style="font-size: 20px;margin-top:20px">Estatus del Chofer: </small>
            <span *ngIf="chofer.choferActivo" class="custom-badge label label-success">Activado</span>
            <span *ngIf="!chofer.choferActivo" class="custom-badge label label-danger">Desactivado</span>
            <!-- <div style="text-align:center">
                    <h6 style="font-size: 25px; margin-top:20px" ><a (click)="abrirDetalle(chofer.chofer)">Ver Detalle del Chofer</a> </h6>
            </div> -->

        </div>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cerrar</button> -->
        <button type="button" class="btn btn-outline-dark"  (click)="abrirDetalle(chofer.chofer)">Ver Detalle del Chofer</button>

    </div>
</div>