<div *ngIf="forma !== undefined"  >
    <form [formGroup]="forma">
        <div formArrayName="concesiones">
            <div class="col-12 d-flex pl-0" [formGroupName]="i">
                <div class="col-9 pl-0" >
                    <h5>No. de concesión <strong>{{ tipo }}</strong> :</h5>
                    <input type="text" mask="000"  [showMaskTyped] = "true"  name="text" class="form-control"
                      required formControlName ="placa">
                      <span class="font-13 text-muted">del 001 al 765 (tres digitos)</span>
                      <p class="field-requiered"
                         *ngIf="forma.controls['concesiones']['controls'][i]['controls']['placa'].errors?.required
                         && tipo === 'Socio'">Campo requerido*</p>
                      <div *ngIf="forma.controls['concesiones']['controls'][i]['controls']['placa'].errors" >
                        <p class="field-requiered"
                        *ngIf="forma.controls['concesiones']['controls'][i]['controls']['placa'].errors['Mask error']">Se requieren 3 digitos*</p>
                      </div>
                      <p class="field-requiered"
                      *ngIf="forma.controls['concesiones']['controls'][i]['controls']['placa'].errors?.max">Máximo 765 concesiones*</p>
                      <p class="field-requiered"
                      *ngIf="forma.controls['concesiones']['controls'][i]['controls']['placa'].errors?.min">Minimo 001*</p>
                      <p class="field-requiered"
                      *ngIf="forma.controls['concesiones']['controls'][i]['controls']['placa'].errors?.maxLength">Máximo 3 digitos*</p>

                </div>
                <div class="col-3 pl-0 position-relative d-flex">
                    <button  type="button" (click)="_createArrayControls()" *ngIf="tipo === 'Ayudante'"
                    class="btn-ayudante position-absolute btn btn-info"><i class="fas fa-plus-circle"></i></button>
                    <button  type="button" (click)="_removeArrayControls(i)"
                    *ngIf="countAyudante > 1 && tipo === 'Ayudante'" style="margin-left:60px;"
                    class="btn-ayudante position-absolute btn btn-danger" ><i class="far fa-trash-alt"></i></button>


                </div>
            </div>

        </div>
    </form>
</div>

