.center-image-profile {
  text-align: center;
}
.container-progress{
  display: flex;
  flex-direction: row;
}
.container-calificacion{
  width: 100%;
}
.p-nomargin{
  margin:0px;
}
.icon-margin{
  margin-right: 20px;
}

.excelente{
  background:#27AE60;
}
.muybueno{
  background:#F1C40F;
}
.normal{
  background:#398bf7;
}
.malo{
  background:#DC7633;
}
.pesimo{
  background:#ef5350;
 }
 .fecha-comentario {
  margin-left:30px;
  color: black;
  font-size: 14px;
  font-style: italic;
  float: right;
 }
 .nombre-pasajero{
   font-weight: 500;
   font-size: 18px;
 }
 .comentario{
   vertical-align: middle;
   
 }