<div class="row">
    <ngx-loading [show]="loading" ></ngx-loading>
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <div class="m-t-30" *ngIf="chofer" >
                    <div class="center-image-profile">
                        <app-loading *ngIf="cargandoimagen" margin></app-loading>
                        <img *ngIf="!cargandoimagen" [src]="chofer.img" class="animated fadeIn rounded-circle img-profile-chofer"  />
                        <h4 class="card-title m-t-10">{{chofer.nombre}} {{chofer.apellidos}}</h4>
                        <p>{{chofer.correo}}</p>
                    </div>
                    <hr />
                    <div class="card-body">
                        <small class="text-label">Folio: </small> <strong>{{chofer.folio}}</strong> <br />
                        <small class="text-label">Teléfono: </small> <strong> +(52) {{chofer.telefono}} </strong> <br />
                        <div *ngIf="chofer.etiqueta == '1'"  class="mt-2 d-flex">
                                <small  class="text-label"><span class="custom-badge label label-success ">Chofer Socio</span></small>
                                <span class="custom-badge label label-success ml-1">{{ chofer.concesion }}</span>
                        </div>
                        <small *ngIf="chofer.etiqueta == '0'"  class="text-label"><span class="custom-badge label label-warning mt-2">Chofer Ayudante</span></small>
                        <hr>
                        <div>
                            <h5 class="card-title m-t-10">Concesiones que trabaja: </h5>
                            <div  class="d-flex">
                                <small *ngFor="let item of chofer.concesiones_que_trabaja" class="text-label m-1">
                                    <span class="label label-warning custom-badge">{{ item.placa }}</span></small>
                            </div>
                        </div>
                        <hr />
                        <table style="width:100%">
                            <tbody>
                                <tr>
                                    <td class="text-left">Conectado:</td>
                                    <td style="float: right !important;">
                                        <small *ngIf="!chofer.activo"  class="text-label">
                                        <span style="width: 115px;" class="custom-badge label label-danger">Offline</span></small>
                                        <small *ngIf="chofer.activo"  class="text-label">
                                        <span style="width: 115px;" class="custom-badge label label-success">Online</span></small>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">Habilitado:</td>
                                    <td style="float: right !important;">
                                        <small *ngIf="!chofer.autorizado"  class="text-label">
                                        <span  style="width: 115px;" class="custom-badge label label-danger">Offline</span></small>
                                        <small *ngIf="chofer.autorizado"  class="text-label">
                                        <span  style="width: 115px;" class="custom-badge label label-success">Online</span></small>
                                    </td>
                                </tr>
                              
                            </tbody>
                        </table>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#comentarios-calificaciones" role="tab">Calificaciones</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#historial" role="tab">Viajes Realizados</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#vehiculos" role="tab">Vehículos</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#config" role="tab">Configuraciones</a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active m-b-20" id="comentarios-calificaciones" role="tabpanel">
                    <div class="col-12 d-flex">
                        <div class="col-5">
                            <h3 class="font-medium m-t-30">Reviews de Servicios</h3>
                            <hr>
                            <app-grafica-barras [data]="calificaciones"></app-grafica-barras>
                        </div>
                        <div class="col-7">
                                <h3 class="font-medium m-t-30">Comentarios</h3>
                                <hr>
                                <h4 *ngIf="listComentarios.length == 0" >Este Chofer aún no tiene ningún comentario</h4>

                                <div class="profiletimeline" *ngIf="listComentarios.length !== 0" >
                                    <div  class="sl-item" *ngFor="let item of listComentarios" >
                                        <div class="sl-left"> <img [src]="item.imgPasajero" alt="chofer" class="rounded-circle img-profile-chofer" /> </div>
                                        <div class="sl-right">
                                            <div><a href="#" class="link nombre-pasajero">{{ item.nombrePasajero }}</a> <span class="sl-date fecha-comentario">{{item.fecha}}</span>
                                                <div class="like-comm">
                                                        <font class="icon-margin text-muted display-6 comentario">
                                                            <i [ngStyle]="{'color': item.emoji.class}"  [class]="item.emoji.icon"></i>
                                                        </font> {{ item.comentario}} </div>
                                            </div>

                                        </div>
                                        <hr>
                                    </div>
                                </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane m-b-20" id="historial" role="tabpanel">
                    <div class="col-12 d-flex">
                            <div class="col-5">
                                    <h3 class="font-medium m-t-30">Historial de Viajes</h3>
                                    <hr>
                                    <h4>Este Chofer aún no ha comenzado a dar viajes</h4>
                                </div>
                            <div class="col-7">
                                    <h3 class="font-medium  m-t-30">Porcentaje de viajes recibidos</h3>
                                    <hr>
                                    <div>
                                        <div style="display: block">
                                        <canvas baseChart
                                            [data]="doughnutChartData"
                                            [options]="barChartOptions"
                                            [labels]="doughnutChartLabels"
                                            [chartType]="doughnutChartType">
                                        </canvas>
                                        </div>
                                    </div>
                            </div>
                    </div>
                </div>
                <div class="tab-pane m-b-20" id="vehiculos" role="tabpanel">
                    <div class="card-body">
                        <h3>Vehículos registrados</h3>
                        <div *ngIf="vehiculosRegistrados.length > 0">
                            <table class="table table-striped">
                                <thead>
                                    <tr style="height: 50px;">
                                        <th style="font-weight: 600;">#</th>
                                        <th style="font-weight: 600;">Marca</th>
                                        <th style="font-weight: 600;">Modelo</th>
                                        <th style="font-weight: 600;">Año</th>
                                        <th style="font-weight: 600;text-align:center;">Matrícula</th>
                                        <th style="font-weight: 600;text-align:center;">Capacidad</th>
                                        <th style="font-weight: 600;text-align:center;">Con rampa</th>
                                        <th style="font-weight: 600;">Modalidad</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of vehiculosRegistrados" style="font-weight:400; height: 50px;">
                                        <td  style="font-weight: 600;" scope="col" >{{item.concesion}}</td>
                                        <td style="text-align: left;">{{item.marca}}</td>
                                        <td>{{ item.modelo }}</td>
                                        <td>{{ item.anio }}</td>
                                        <td>{{ item.matricula }}</td>
                                        <td style="text-align:center;">{{ item.capacidad }}</td>
                                        <td style="text-align:center;" *ngIf="item.conRampa" >Si</td>
                                        <td style="text-align:center;" *ngIf="!item.conRampa" >No</td>
                                        <td *ngIf="item.modalidad === '1'">Fijo</td>
                                        <td *ngIf="item.modalidad === '0'">Posturero</td>
                                        <td><i style="font-size: 30px;" class="fas fa-edit"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="vehiculosRegistrados.length === 0">No ha registrado ningún vehículo</div>
                    </div>
                </div>
                <div class="tab-pane m-b-20" id="config" role="tabpanel">
                    <div class="card-body">
                        <h3>Editar datos personales del chofer </h3>
                        <h4>Código de identificación en la base de datos: <strong>{{chofer.uid}}</strong></h4>
                        <div class="container-form mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr style="height: 50px;">
                                        <th  style="font-weight: 600;" scope="col" >Folio</th>
                                        <th  style="font-weight: 600;" scope="col" >Nombre</th>
                                        <th  style="font-weight: 600;" scope="col" >Apellidos</th>
                                        <th  style="font-weight: 600;" scope="col" >Correo</th>
                                        <th  style="font-weight: 600;" scope="col" >Teléfono</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="font-weight:400; height: 50px;">
                                        <td  style="font-weight: 600;" scope="col" >{{ chofer.folio }}</td>
                                        <td class="text-left">{{ chofer.nombre }}</td>
                                        <td>{{ chofer.apellidos }}</td>
                                        <td>{{ chofer.correo }}</td>
                                        <td class="text-left">+(52) {{ chofer.telefono }}</td>
                                        <td><i style="font-size: 30px;" class="fas fa-edit"></i></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <hr>

                        <h3>Reestablecer contraseña</h3>
                            <div class="container-form mt-3 d-flex">
                                <div class="item item-form-6 col-6 pl-0">
                                    <h5>Correo eléctronico: <span class="text-danger">*</span></h5>
                                    <input type="text" name="text" [(ngModel)]="correo" placeholder="Ejemplo: juan-39@gmail.com" class="form-control" required>
                                    <!-- <p class="field-requiered"
                                    *ngIf="forma.controls['correo'].errors?.required && VALIDATIONS_STEP1.correo">Campo requerido*</p>
                                    <p class="field-requiered"
                                    *ngIf="forma.controls['correo'].errors?.pattern && forma.controls['correo'].value">Formato de correo incorrecto*</p> -->
                                </div>
                                <div class="col-6" style="margin-top:27px">
                                        <button (click)="reestablecerPassword()" class="btn btn-success">Enviar</button>
                                </div>
                            </div>
                        <hr>
                        <h3>Desactivar chofer</h3>
                        <div class="text-center mt-4">
                            <button *ngIf="chofer.autorizado" (click)="cambiarStatusChofer()" class="btn btn-danger">Deshabilitar Chofer</button>
                            <button *ngIf="!chofer.autorizado" (click)="cambiarStatusChofer()" class="btn btn-success">Habilitar Chofer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
