<div class="row">
    <ngx-loading [show]="loading" ></ngx-loading>
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card animated fadeIn"  *ngIf="chofer.img">
            <div class="card-body">
                <div class="m-t-30" *ngIf="chofer" >
                    <div class="center-image-profile">
                        <img  [src]="chofer.img" class="rounded-circle img-profile-chofer"  />
                        <h4 class="card-title m-t-10">{{chofer.nombre}} {{chofer.apellidos}}</h4>
                        <p>{{chofer.correo}}</p>
                    </div>
                    <hr />
                    <div class="card-body">
                        <small class="text-label">Folio: </small> <strong>{{chofer.folio}}</strong> <br />
                        <small class="text-label">Teléfono: </small> <strong> {{chofer.telefono}} </strong> <br />
                        <small *ngIf="chofer.etiqueta == '1'"  class="text-label">Etiqueta: <span class="custom-badge label label-success mt-2">CHOFER SOCIO</span></small>
                        <small *ngIf="chofer.etiqueta == '0'"  class="text-label">Etiqueta:  <span class="custom-badge label label-warning mt-2">CHOFER AYUDANTE</span></small>
                        <br>
                        <span *ngIf="chofer.etiqueta == '1'" class="custom-badge label label-success mt-2">{{ chofer.concesion }}</span>
                        <hr  *ngIf="chofer.concesiones_que_trabaja.length > 0"/>
                        <div *ngIf="chofer.concesiones_que_trabaja.length > 0">
                                <h5 class="card-title m-t-10">{{chofer.nombre}} {{chofer.apellidos}} trabaja con <br />las siguientes concesiones</h5>
                                <div  class="d-flex">
                                    <small *ngFor="let item of chofer.concesiones_que_trabaja" class="text-label m-1">
                                        <span class="label label-warning custom-badge">{{ item.placa }}</span></small>
                                </div>
                        </div>
                        <hr />
                        <div class="m-1">
                                <small *ngIf="!chofer.activo"  class="text-label">Conectado: <span
                                    class="custom-badge label label-danger">OFFLINE</span></small>
                                <small *ngIf="chofer.activo"  class="text-label">Conectado: <span
                                    class="custom-badge label label-success">ONLINE</span></small>
                        </div>
                        <div class="m-1">
                                <small *ngIf="!chofer.autorizado"  class="text-label">Habilitado:   <span
                                    class="custom-badge label label-danger">OFFLINE</span></small>
                                <small *ngIf="chofer.autorizado"  class="text-label">Habilitado:   <span
                                    class="custom-badge label label-success">ONLINE</span></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#comentarios-calificaciones" role="tab">Reviews</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#historial" role="tab">Servicios Realizados</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#vehiculos" role="tab">Vehículos</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#config" role="tab">Configuraciones</a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active m-b-20" id="comentarios-calificaciones" role="tabpanel">
                    <div class="col-12 d-flex">
                        <div class="col-6">
                            <h4 class="font-medium m-t-30">Nivel de satisfacción en la calidad de su servicio</h4>
                            <hr>

                            <div class="container-progress">
                                <font class="icon-margin text-muted display-5"><i style="color:#27AE60" class="mdi mdi-emoticon-cool"></i></font>
                                <div class="container-calificacion">
                                    <h5>Excelente</h5>
                                    <p class="p-nomargin">2,304 reviews <span class="pull-right">65%</span></p>
                                    <div class="progress">
                                        <div class="progress-bar excelente" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%; height:4px;"> <span class="sr-only">65% Complete</span> </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container-progress">
                                <font class="icon-margin text-muted display-5"><i style="color:#F1C40F" class="mdi mdi-emoticon"></i></font>
                                <div class="container-calificacion">
                                <h5>Muy bueno</h5>
                                <p class="p-nomargin">2,304 reviews <span class="pull-right">65%</span></p>
                                <div class="progress">
                                    <div class="progress-bar muybueno" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%; height:4px;"> <span class="sr-only">65% Complete</span> </div>
                                </div>
                                </div>
                            </div>

                            <div class="container-progress">
                                <font class="icon-margin text-muted display-5"><i style="color:#398bf7" class="mdi mdi-emoticon-happy"></i></font>
                                <div class="container-calificacion">
                                <h5>Normal</h5>
                                <p class="p-nomargin">1,004 reviews <span class="pull-right">20%</span></p>
                                <div class="progress">
                                    <div class="progress-bar normal" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%; height:4px;"> <span class="sr-only">20% Complete</span> </div>
                                </div>
                                </div>
                            </div>

                            <div class="container-progress">
                                <font class="icon-margin text-muted display-5"><i style="color:#DC7633" class="mdi mdi-emoticon-neutral"></i></font>
                                <div class="container-calificacion">
                                <h5>Malo</h5>
                                <p class="p-nomargin">504 reviews <span class="pull-right">10%</span></p>
                                <div class="progress">
                                    <div class="progress-bar malo" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%; height:4px;"> <span class="sr-only">10% Complete</span> </div>
                                </div>
                                </div>
                            </div>

                            <div class="container-progress">
                                <font class="icon-margin text-muted display-5"><i style="color:#ef5350" class="mdi mdi-emoticon-sad"></i></font>
                                <div class="container-calificacion">
                                <h5>Pésimo</h5>
                                <p class="p-nomargin">204 reviews <span class="pull-right">5%</span></p>
                                <div class="progress">
                                    <div class="progress-bar pesimo" role="progressbar"aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width:5%; height:4px;"> <span class="sr-only">5% Complete</span> </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                                <h4 class="font-medium m-t-30">Comentarios</h4>
                                <hr>
                                <h4 *ngIf="listComentarios.length == 0" >Este Chofer aún no tiene ningún comentario</h4>

                                <div class="profiletimeline" *ngIf="listComentarios.length !== 0" >
                                    <div  class="sl-item" *ngFor="let item of listComentarios" >
                                        <div class="sl-left"> <img [src]="item.imgPasajero" alt="chofer" class="rounded-circle img-profile-chofer" /> </div>
                                        <div class="sl-right">
                                            <div><a href="#" class="link nombre-pasajero">{{ item.nombrePasajero }}</a> <span class="sl-date fecha-comentario">{{item.fecha}}</span>
                                                <div class="like-comm">
                                                        <font class="icon-margin text-muted display-6 comentario">
                                                            <i [ngStyle]="{'color': item.emoji.class}"  [class]="item.emoji.icon"></i>
                                                        </font> {{ item.comentario}} </div>
                                            </div>

                                        </div>
                                        <hr>
                                    </div>
                                </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane m-b-20" id="historial" role="tabpanel">
                    <div class="col-12 d-flex">
                            <div class="col-6">
                                    <h4 class="font-medium  m-t-30">Porcentaje de servicios recibidos</h4>
                                    <hr>
                                    <div>
                                        <div style="display: block">
                                        <canvas baseChart
                                            [data]="doughnutChartData"
                                            [labels]="doughnutChartLabels"
                                            [chartType]="doughnutChartType">
                                        </canvas>
                                        </div>
                                    </div>
                            </div>
                            <div>
                                <h4 class="font-medium m-t-30">Historial de Servicios</h4>
                                <hr>
                                <h4>Este Chofer aún no ha comenzado a dar servicios</h4>
                            </div>

                    </div>
                </div>
                <div class="tab-pane m-b-20" id="vehiculos" role="tabpanel">
                    <div class="card-body">
                        <h4>Vehículos registrados</h4>
                        <div *ngIf="vehiculosRegistrados.length > 0">
                            <div *ngFor="let item of vehiculosRegistrados" >

                               <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">{{item.vehiculo.marca}}, {{item.vehiculo.modelo}}, {{item.vehiculo.anio}}</legend>
                                        <div>
                                            <small  class="text-label">Concesión:</small>
                                            <label *ngIf="item.vehiculo.concesion !== '-1'"  for="concesion">{{item.vehiculo.concesion}}</label>
                                            <label *ngIf="item.vehiculo.concesion === '-1'"  for="concesion">Sin concesión</label>
                                        </div>
                                        <div>
                                            <small  class="text-label">Modalidad:</small>
                                            <label *ngIf="item.vehiculo.modalidad === '1'"  for="modalidad">Fijo</label>
                                            <label *ngIf="item.vehiculo.modalidad === '0'"  for="modalidad">Posturero</label>
                                        </div>
                                        <div>
                                            <small  class="text-label">Con Rampa:</small>
                                            <label *ngIf="item.vehiculo.conRampa"  for="conRampa">SI</label>
                                            <label *ngIf="!item.vehiculo.conRampa"  for="conRampa">NO</label>
                                        </div>
                                        <small  class="text-label">Capacidad:</small>
                                        <label>Hasta para {{ item.vehiculo.capacidad}} personas</label><br>
                                        <small  class="text-label">Fecha de Registro:</small>
                                        <label>{{ item.vehiculo.fechaRegistro}}</label><br>
                                </fieldset>
                            </div>
                        </div>
                        <div *ngIf="vehiculosRegistrados.length === 0">No ha registrado ningún vehículo</div>
                    </div>
                </div>
                <div class="tab-pane m-b-20" id="config" role="tabpanel">
                    <div class="card-body">
                        <h4>Reestablecer contraseña</h4>
                            <div class="container-form mt-5 d-flex">
                                <div class="item item-form-6 col-6">
                                    <h5>Correo eléctronico: <span class="text-danger">*</span></h5>
                                    <input type="text" name="text" [(ngModel)]="correo" placeholder="Ejemplo: juan-39@gmail.com" class="form-control" required>
                                    <!-- <p class="field-requiered"
                                    *ngIf="forma.controls['correo'].errors?.required && VALIDATIONS_STEP1.correo">Campo requerido*</p>
                                    <p class="field-requiered"
                                    *ngIf="forma.controls['correo'].errors?.pattern && forma.controls['correo'].value">Formato de correo incorrecto*</p> -->
                                </div>
                                <div class="col-6" style="margin-top:27px;">
                                        <button (click)="reestablecerPassword()" class="btn btn-success">Enviar</button>
                                </div>
                            </div>
                        <hr>
                        <h4>Desactivar usuario</h4>
                        <div class="text-center mt-5">
                            <button *ngIf="chofer.autorizado" (click)="cambiarStatusChofer()" class="btn btn-danger">Deshabilitar Chofer</button>
                            <button *ngIf="!chofer.autorizado" (click)="cambiarStatusChofer()" class="btn btn-success">Habilitar Chofer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
