.btn-wizard-btn-next-step{
  margin-top: 20px;
  float: right;
}

.container-form{
  display: flex;
  flex-direction: row;
}

.item{
  margin:10px;
}
.item-form-6{
  width: 50%;
}
.btn-regresar{
  margin-right: 15px;
}
.message-max-concesiones {
  margin-top: 15px;
  margin-bottom: 15px;
  color: red;
}
.margin-top-15{
  margin-top: 15px
}
li.done.navigable{
  background: yellow !important;
}

.img-profile-chofer {
  margin: 10px;
  width: 150px;
  height: 150px;
}
.bar-progress{
  background:#b72b28;
}
.position-absolute{
  position: absolute;
  bottom:24px;
}

.close-badge{
    font-size: 25px;
    cursor: pointer;
}
.pelota{
  width: 170px;
  height: 80px;
  vertical-align: middle !important;
  border-radius: 50px;
}
.progress_pelota{
  width: 33%;
  height: 10px;
  margin-top: 35px;
}

.wizard{
  padding-left: 50px !important;
  padding-right: 50px !important;
  -webkit-box-shadow: -4px 39px 12px -38px rgba(0,0,0,0.2);
  -moz-box-shadow: -4px 39px 12px -38px rgba(0,0,0,0.2);
  box-shadow: -4px 39px 12px -38px rgba(0,0,0,0.2);

}
.title-step{
  color: white;
}

.icon-steps {
  font-size: 35px;
  color: white;
}

.aside-left, .aside-title{
  background: #b72b28;
  color: white;
}



@media only screen and (max-width: 1050px) {
  .pelota{
    width: 50px;
    height: 50px;
  }
  .progress_pelota{
    width: 25%;
    height: 7px;
    margin-top: 22px;
  }

  .wizard{
    display: flex !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .icon-steps {
    font-size: 25px;
    margin-top: 5px;
  }
  .title-step{
    display: none;
  }
}
