.btn-wizard-btn-next-step{
  margin-top: 20px;
  float: right;
}

.container-form{
  display: flex;
  flex-direction: row;
}

.item{
  margin:10px;
}
.item-form-6{
  width: 50%;
}
.btn-regresar{
  margin-right: 15px;
}
.message-max-concesiones {
  margin-top: 15px;
  margin-bottom: 15px;
  color: red;
}
.margin-top-15{
  margin-top: 15px
}
li.done.navigable{
  background: yellow !important;
}

.img-profile-chofer {
  margin: 10px;
  width: 150px;
  border-radius: 50%;
}
.bar-progress{
  margin:20px;
}
.container-concesiones-ayudante{
  display: block;
}
.position-absolute{
  position: absolute;
  bottom:24px;
}
.field-requiered{
 color: #b72b28;
 font-weight: 600;
}