.excelente {
    background: rgba(16, 87, 148, 1);
}

.muybueno {
    background: rgb(60, 81, 165);
}

.normal {
    background: rgba(0, 171, 190, 1);
}

.malo {
    background: rgb(84, 213, 245);
    ;
}

.pesimo {
    background: rgb(87, 244, 255);
    ;
}