<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <img [src]="usuario.img" [alt]="usuario.nombre" />
                        <span class="hide-menu">{{ usuario.nombre }}</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a routerLinkActive="active" routerLink="/perfil">
                                <i class="icon-user"></i> Mi Perfil </a>
                        </li>
                        <li>
                            <a routerLinkActive="active" routerLink="/mensajes">
                                <i class="icon-speech"></i> Mensajes</a>
                        </li>
                        <li>
                            <a routerLinkActive="active" routerLink="/configuracion">
                                <i class="icon-settings"></i> Configuración</a>
                        </li>
                        <li (click)="salir()">
                            <a href="javascript:void(0)">
                                <i class="icon-logout"></i> Cerrar Sesión</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-devider"></li>

                <li class="nav-small-cap">PANEL DE GESTIÓN</li>

                <li routerLinkActive="active" routerLink="/dashboard">
                    <a routerLinkActive="active" routerLink="/dashboard">
                        <i class="icon-chart"></i>
                        <span class="hide-menu">Panel de control</span>
                    </a>
                </li>
                <li routerLinkActive="active" routerLink="/monitoreo">
                    <a routerLinkActive="active" routerLink="/monitoreo">
                        <i class="icon-location-pin"></i>
                        <span class="hide-menu">Monitoreo</span>
                    </a>
                </li>
                <li routerLinkActive="active" routerLink="/choferes">
                    <a routerLinkActive="active" routerLink="/choferes">
                        <i class="icon-mustache"></i>
                        <span class="hide-menu">Gestión de choferes
                            <!--<span class="label label-rouded label-themecolor pull-right">231</span>-->
                        </span>
                    </a>
                </li>
                <!---<li routerLinkActive="active" routerLink="/reportes">
                    <a routerLinkActive="active" routerLink="/reportes">
                        <i class="icon-docs"></i>
                        <span class="hide-menu">Quejas
                            <span class="label label-rouded label-themecolor pull-right">12</span>
                        </span>
                    </a>
                </li>-->
                <li routerLinkActive="active" routerLink="/tabulador">
                    <a routerLinkActive="active" routerLink="/tabulador">
                        <i class="icon-book-open"></i>
                        <span class="hide-menu">Tarifas<!--paseos en la isla-->
                          </span>
                    </a>
                </li>
                <!---<li routerLinkActive="active" routerLink="/solicitudes">
                    <a routerLinkActive="active" routerLink="/solicitudes">
                        <i class="icon-user-follow"></i>
                        <span class="hide-menu">Solicitudes
                          </span>
                    </a>
                </li>
                <li routerLinkActive="active" routerLink="/pasajeros">
                    <a routerLinkActive="active" routerLink="/pasajeros">
                        <i class="icon-people"></i>
                        <span class="hide-menu">Pasajeros
                          </span>
                    </a>
                </li>-->
                <li routerLinkActive="active" routerLink="/roll">
                    <a routerLinkActive="active" routerLink="/roll">
                        <i class="icon-loop"></i>
                        <span class="hide-menu">Random Roll
                          </span>
                    </a>
                </li>
                <li routerLinkActive="active" routerLink="/usuarios">
                    <a routerLinkActive="active" routerLink="/usuarios">
                        <i class="icon-user-following"></i>
                        <span class="hide-menu">Usuarios
                          </span>
                    </a>
                </li>
                <li routerLinkActive="active" routerLink="/concesiones">
                    <a routerLinkActive="active" routerLink="/concesiones">
                        <i class="icon-note"></i>
                        <span class="hide-menu">Concesiones
                          </span>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
rojo en turno amarillo semilibres verde libres
