<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img [src]="_servicioAuth.usuario.img" [alt]="_servicioAuth.usuario.nombre" /><span class="hide-menu">{{ _servicioAuth.usuario.nombre }}</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li routerLinkActive="active" routerLink="/perfil">
                            <a routerLinkActive="active" routerLink="/perfil">
                                <i class="icon-user"></i> Mi Perfil </a>
                        </li>
                        <li routerLinkActive="active" routerLink="/mensajes">
                            <a routerLinkActive="active" routerLink="/mensajes">
                                <i class="icon-speech"></i> Mensajes</a>
                        </li>
                        <li routerLinkActive="active" routerLink="/configuracion">
                            <a routerLinkActive="active" routerLink="/configuracion">
                                <i class="icon-settings"></i> Configuración</a>
                        </li>
                        <li (click)="salir()">
                            <a href="#">
                                <i class="icon-logout"></i> Cerrar Sesión</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-devider"></li>

                <li class="nav-small-cap">PANEL DE GESTIÓN</li>

                <li routerLinkActive="active" routerLink="/dashboard">
                    <a routerLinkActive="active" routerLink="/dashboard">
                        <i class="icon-map"></i>
                        <span class="hide-menu">Monitoreo</span>
                    </a>
                </li>
                <li routerLinkActive="active" routerLink="/reportes">
                    <a routerLinkActive="active" routerLink="/reportes">
                        <i class="icon-docs"></i>
                        <span class="hide-menu">Reportes
                            <span class="label label-rouded label-themecolor pull-right">431</span>
                        </span>
                    </a>
                </li>
                <li routerLinkActive="active" routerLink="/tabulador">
                    <a routerLinkActive="active" routerLink="/tabulador">
                        <i class="icon-book-open"></i>
                        <span class="hide-menu">Tarifas
                          </span>
                    </a>
                </li>
                <li routerLinkActive="active" routerLink="/solicitudes">
                    <a routerLinkActive="active" routerLink="/solicitudes">
                        <i class="icon-user-follow"></i>
                        <span class="hide-menu">Solicitudes
                          </span>
                    </a>
                </li>

                <li routerLinkActive="active" routerLink="/pasajeros">
                    <a routerLinkActive="active" routerLink="/pasajeros">
                        <i class="icon-people"></i>
                        <span class="hide-menu">Pasajeros
                          </span>
                    </a>
                </li>
                <li routerLinkActive="active" routerLink="/usuarios">
                    <a routerLinkActive="active" routerLink="/usuarios">
                        <i class="icon-user-following"></i>
                        <span class="hide-menu">Usuarios
                          </span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->