<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="line-height: 100px;">
    <img src="../../assets/images/icon.png" width="80" height="80" alt="">
    <span style="margin: 18px; font-weight: 100">{{nombreApp}}</span>     </a>
    <a style="color:white" href="#/conductores/politicas-privacidad"> Ver Políticas de Privacidad</a>
</nav>
<div class="container">
    <div class="d-flex">
        <h2 class="title-politicas-privacidad">Términos y Condiciones para nuestros conductores registrados.</h2>
        <img class="navimg" src="../../assets/images/navegator.png" width="80" height="80" alt="" style="margin:22px">
    </div>
    <hr>

    <div>
        <h2  class="title-politicas-privacidad">INTRODUCCIÓN.</h2>
        <p align="justify">
            Las presentes Condiciones de uso (“Condiciones”) regulan el acceso o uso que usted haga, como persona, desde cualquier país del mundo sobre las
            de aplicaciones, páginas web, contenido, productos y servicios (los “Servicios”) puestos a disposición por <strong style="font-weight: 600">{{ nombreEmpresa }}</strong>, 
            una sociedad de responsabilidad limitada constituida en los Países Bajos, con domicilio social en la calle Av. Felipe Angeles. Colonia Adolfo Lopez Mateos. Código Postal 77640. Ciudad de Cozumel Quintana Roo. México.; 
            y que en cumplimiento a lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento, así como los lineamientos internacionales 
            vigentes de los cuales México forma parte, es el RESPONSABLE de la obtención, uso, almacenamiento y protección de los Datos Personales de acuerdo a los principios de: licitud, lealtad y transparencia, 
            que en tu carácter de TITULAR, ingreses para llevar a cabo el registro de tu cuenta y posterior uso de la plataforma denominada <strong>{{nombreApp}}.</strong> 
        </p>
        <h2  class="title-politicas-privacidad">LEA ESTAS CONDICIONES DETENIDAMENTE ANTES DE ACCEDER O USAR LOS SERVICIOS.</h2>
        <p align="justify">
            Mediante su acceso y uso de los Servicios usted acuerda vincularse jurídicamente por estas Condiciones, que establecen una relación contractual entre usted y {{nombreApp}}. Si usted no acepta estas Condiciones, no podrá acceder o usar los Servicios. Estas Condiciones sustituyen expresamente los acuerdos o compromisos previos con usted. {{nombreApp}} podrá poner fin de inmediato a estas Condiciones o cualquiera de los Servicios respecto de usted o, en general, dejar de ofrecer o denegar el acceso a los Servicios o cualquier parte de ellos, en cualquier momento y por cualquier motivo.
        </p> 
        <p align="justify">
            {{ nombreEmpresa }} podrá modificar las Condiciones relativas a los Servicios cuando lo considere oportuno. Las modificaciones serán efectivas después de la publicación por parte de {{ nombreEmpresa }} de dichas Condiciones actualizadas en esta ubicación o las políticas modificadas o condiciones suplementarias sobre el Servicio aplicable. Su acceso o uso continuado de los Servicios después de dicha publicación constituye su consentimiento a vincularse por las Condiciones y sus modificaciones.
        </p>    
        
        <ul>
            <li align="justify"><strong>Servicios: </strong> Los Servicios constituyen una plataforma de tecnología que permite a los usuarios de aplicaciones móviles de {{nombreApp}} o páginas web proporcionadas 
                como parte de los Servicios (cada una, una “Aplicación”) organizar y planear el transporte publico y/o servicios de logística con terceros proveedores independientes de dichos servicios (AYUDANTES), 
                incluidos terceros prestadores particulares independientes de servicios de transporte publico y terceros proveedores logísticos independientes, conforme a un acuerdo con {{nombreApp}} 
                (“Terceros proveedores”). A no ser que {{ nombreEmpresa }} lo acepte mediante un contrato separado por escrito con usted, los Servicios se ponen a disposición solo para su uso personal, 
                no comercial. <strong>USTED RECONOCE QUE {{ nombreEmpresa }} NO PRESTA SERVICIOS DE TRANSPORTE DE NINGÚN TIPO O DE LOGÍSTICA O FUNCIONA COMO UNA EMPRESA DE TRANSPORTES Y QUE DICHOS SERVICIOS DE TRANSPORTE 
                O LOGÍSTICA SE PRESTAN POR TERCEROS PRESTADORES PARTICULARES INDEPENDIENTES, QUE NO ESTÁN EMPLEADOS POR {{ nombreEmpresa }}.</strong> </li>


            <li align="justify"><strong>Licencia: </strong> Sujeto al cumplimiento de estas Condiciones, {{ nombreEmpresa }}. le otorga una licencia limitada, no exclusiva, no sublicenciable, revocable, no transferible para: 
                el acceso y uso de las Aplicaciones en su dispositivo personal solo en relación con su uso de los Servicios; y el acceso y uso de cualquier contenido, información y material 
                relacionado que pueda ponerse a disposición a través de los Servicios, en cada caso solo para su uso personal, no comercial. {{ nombreEmpresa }}. y sus licenciantes se reservan cualquier derecho que 
                no haya sido expresamente otorgado por el presente.</li>
            
            <li align="justify"><strong>Restricciones: </strong>Usted no podrá: retirar cualquier nota de derechos de autor, marca registrada u otra nota de propiedad de cualquier parte de los Servicios;
                 reproducir, modificar, preparar obras derivadas sobre los Servicios, distribuir, licenciar, arrendar, revender, transferir, exhibir públicamente, presentar públicamente, transmitir, 
                 retransmitir o explotar de otra forma los Servicios, excepto como se permita expresamente por {{ nombreEmpresa }}; descompilar, realizar ingeniería inversa o desmontar los Servicios, excepto 
                 como se permita por la ley aplicable; enlazar, reflejar o enmarcar cualquier parte de los Servicios; causar o lanzar cualquier programa o script con el objeto de extraer, indexar, 
                 analizar o de otro modo realizar prospección de datos de cualquier parte de los Servicios o sobrecargar o bloquear indebidamente la operación y/o funcionalidad de cualquier aspecto de los 
                 Servicios; o intentar obtener un acceso no autorizado o dañar cualquier aspecto de los Servicios o sus sistemas o redes relacionados.</li>
        
            <li align="justify"><strong>Titularidad: </strong> Los Servicios y todos los derechos relativos a estos son y permanecerán de la propiedad de {{ nombreEmpresa }}. Ninguna de estas Condiciones 
                    ni su uso de los Servicios le transfieren u otorgan ningún derecho: sobre o en relación con los Servicios, excepto en cuanto a la licencia limitada otorgada anteriormente; 
                    o bien a utilizar o mencionar en cualquier modo a los nombres de empresa, logotipos, nombres de producto y servicio,
                     marcas comerciales o marcas de servicio de {{ nombreEmpresa }}; o de sus licenciantes..</li>
           
            <li align="justify"><strong>Cuenta de usuario: </strong>Con el fin de usar la mayor parte de los aspectos de los Servicios, <strong> {{'Para obtener una Cuenta debe tener como mínimo 18 años' | uppercase }}</strong>, 
                o tener la mayoría de edad legal en su jurisdicción (si es distinta a los 18 años). 
                 El registro de la cuenta le requiere que comunique a {{ nombreEmpresa }} determinada información personal, como su nombre, folio de chofer, número de teléfono móvil. 
                 Usted se compromete a mantener la información en su Cuenta de forma exacta, 
                 completa y actualizada. Si no mantiene la información de Cuenta de forma exacta, completa y actualizada, podrá resultar en su imposibilidad para acceder y utilizar 
                 los Servicios o en la resolución por parte de {{ nombreEmpresa }} de esta Condiciones. <strong>{{'Usted es responsable de toda la 
                 actividad que ocurre en su Cuenta y se compromete a mantener en todo momento de forma segura y secreta el nombre de usuario y la contraseña de su Cuenta.' | uppercase }}</strong>  A menos que 
                 {{ nombreEmpresa }} permita otra cosa por escrito, usted solo puede poseer una Cuenta.</li>
               
            <li align="justify"><strong>Requisito de conducta de usuario: </strong>El Servicio no está disponible para el uso de personas menores de 18 años. Usted no podrá autorizar 
                a terceros a utilizar su Cuenta, asimismo no podrá permitir a personas menores de 18 años que reciban servicios de transporte publico o logísticos de Terceros proveedores, 
                a menos que aquellos sean acompañados por usted. No podrá ceder o transferir de otro modo su Cuenta a cualquier otra persona o entidad. Usted acuerda cumplir con todas 
                las leyes aplicables al utilizar los Servicios y solo podrá utilizar los Servicios con fines legítimos (p. ej., no para el transporte de materiales ilegales o peligrosos). 
                En el uso de los Servicios, no causará estorbos, molestias, incomodidades o daños a la propiedad, tanto al Tercero proveedor como a cualquier otra parte. En algunos casos, 
                se le podrá requerir que facilite un documento de identidad u otro elemento de verificación de identidad para el acceso o uso de los Servicios, y usted acepta que se le 
                podrá denegar el acceso o uso de los Servicios si se niega a facilitar el documento de identidad o el elemento de verificación de identidad.</li>
               
            <li align="justify"><strong>Acceso a la red y dispositivos: </strong> <strong>{{'Usted es responsable de obtener el acceso a la red de datos necesario para utilizar los Servicios.' | uppercase }}</strong>  
                    Podrán aplicarse las tarifas y tasas de datos y mensajes de su red móvil si usted accede o utiliza los Servicios desde un dispositivo inalámbrico y usted será 
                    responsable de dichas tarifas y tasas. Usted es responsable de adquirir y actualizar el hardware compatible o los dispositivos necesarios para acceder y utilizar
                     los Servicios y Aplicaciones y cualquier actualización de estos. <strong>{{ nombreEmpresa }} {{'no garantiza que los Servicios, o cualquier parte de estos, funcionen en cualquier hardware o
                      dispositivo particular' | uppercase }}</strong> . Además, los Servicios podrán ser objeto de disfunciones o retrasos inherentes al uso de Internet y de las comunicaciones electrónicas.</li>
        </ul>

      
      </div>
      <div    >
            <br>
            <br>
            <p>
            <strong>Última actualización: 8 de Diciembre de 2019</strong> 
            </p>

            <br>
            <p>
            <strong>Atentamente</strong>  
            </p>

            <br>
            <p>
            <strong>{{nombreEmpresa}} </strong>        
            </p>
  </div>
</div>
