<div class="row">
    <div class="col-md-12">
        <div class="card animated fadeIn">
            <div class="p-10 container-filter">
                <div class="col-lg-5 col-md-5">
                    <h4 class="card-title">En Turno</h4>
                    <select [(ngModel)]="enTurno" class="form-control custom-select" (change)="onChange($event)">
                        <option>Todos</option>
                        <option value="Chedraui">Chedraui</option>
                        <option value="La Comercial Mexicana">La Comercial Mexicana</option>
                        <option value="Bodega Aurrera">Bodega Aurrera</option>
                        <option value="MiraFlores">MiraFlores</option>
                        <option value="Emiliano Zapata">Emiliano Zapata</option>
                        <option value="Base 1">Base 1</option>
                        <option value="Base 2">Base 2</option>
                        <option value="Base 3">Base 3</option>
                    </select>
                </div>

                <div class="col-lg-5 col-md-5">
                    <h4 class="card-title">Buscar por unidad</h4>
                    <input #search class="form-control search" type="number" (keydown.enter)="onSearch(search.value)">
                </div>
                <div class="col-lg-2 col-md-2">
                    <h4 class="card-title">Ver Libres</h4>
                    <div class="switch">
                        <label>NO<input type="checkbox" checked><span class="lever"></span>SI</label>
                    </div>
                </div>
            </div>


            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                <agm-marker *ngFor="let item of taxistas" [latitude]="item.data.geoposition._lat" [longitude]="item.data.geoposition._long" iconUrl="../../../assets/images/taxi.png" (markerClick)="obtenerInfoTaxi(item.id)">
                </agm-marker>
            </agm-map>
        </div>
    </div>
</div>